<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelGuideAI-Local</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <!-- SPLASH SCREEN-->
    <div id="splash-screen">

        <div class="plane">✈️</div>

        <img
            class="splash-logo"
            src="{{ url_for('static', filename='images/globe.png') }}"
            alt="TravelGuideAI"
        >

        <h1>TravelGuideAI</h1>

    </div>


    <!-- HALAMAN UTAMA -->
    <div class="content-container">

        <h2>Travel Guide AI</h2>

        <form method="POST">

            <label>Pilih Kota:</label>

            <select name="city" required>
                <option value="" disabled selected>
                    pilih salah satu
                </option>

                <option value="bandung">Bandung</option>
                <option value="bali">Bali</option>
                <option value="yogyakarta">Yogyakarta</option>
                <option value="semarang">Semarang</option>
                <option value="surabaya">Surabaya</option>
            </select>

            <button type="submit">Search</button>

        </form>

        {% if result %}
        <div class="result-box">
            <h3>Hasil Rekomendasi AI</h3>
            <div>{{ result | safe }}</div>

            <hr>

            <small>
                <b>Data Context (Simulasi S3 Knowledge Base):</b>
                {{ context }}
            </small>
        </div>
        {% endif %}

    </div>

    <script>
    setTimeout(function () {
        document
            .getElementById("splash-screen")
            .classList.add("hidden");
    }, 4000);
</script>
</body>
</html>